body {
  margin: 0;
  padding: 0;
  font-family: "Andika";
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.navbar {
  height: 30px;
  width: 100%;
  background: var(--bg-nav);
  color: var(--text);
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

header {
  padding: 1em;
  background: var(--border-color);
  margin-bottom: 1em;
  margin-top: 50px;
  padding-bottom: 3.5em;
  text-align: center;
  /* clip-path:polygon(50% 4%, 57% 7%,60% 16%, 54% 57%, 48% 56%, 41% 45%,40% 23%, 43% 7%); */
  clip-path: polygon(
    50% 0%,
    80% 6%,
    98% 1%,
    97% 64%,
    50% 100%,
    3% 64%,
    2% 1%,
    20% 6%
  );
  z-index: 1;
}

.logo {
  width: 100px;
  height: 100px;
}

.dropdown {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  color: black;
  background-color: var(--bg-dropdown);
  width: 290px;
  height: 1.9rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
  border-top: 4px solid rgb(0, 0, 0);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: var(--box-bg-out) 1px 1px 20px -3px,
    inset var(--box-bg) -1px -0px 15px;
  transform: translateX(-35%);
  transition: opacity 0.15s ease-out;
}

/* for Transition of dropdown we use focus within class dropdown */
.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-item a {
  width: 100%;
  height: 100%;
  size: 0.5rem;
  padding-left: 5px;
  font-weight: bold;
}

.dropdown-item a::before {
  content: " ";
  border: 2px solid rgb(125, 80, 80);
  background-color: var(--bg-solar);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}

:root {
  --gray0: #f5f5f5;
  --gray1: #f0f1fd;
  --gray2: #1a7194;
  --gray3: #16617e;
  --gray4: #135169;
  --gray5: #0f4154;
  --gray6: #0b303f;
  --gray7: #041015;
  --black: rgb(33, 27, 27);
  --dark: #1e1337;
  --special: #0f4154;
  --kali: black;

  --lit0: #ffffff;
  --lit1: #feedeb;
  --lit2: #fedad6;
  --lit3: #fdd1cc;
  --lit4: #fcbfb8;
  --lit5: #fcb5ad;
  --lit6: #fba399;
  --lit7: #fb9a8f;
  --lit8: #fa8072;
  --tomato: #de8686;
  --spec: #de8686;
}

.light {
  --bg: linear-gradient(to bottom, var(--lit2), var(--lit8));
  --bg-nav: linear-gradient(to right, var(--lit2), var(--lit7));
  --bg-dropdown: var(--lit6);
  --text: var(--black);
  --border-color: linear-gradient(
    to bottom,
    var(--spec),
    var(--lit7),
    var(--lit8)
  );
  --bg-solar: var(--lit3);
  --box-bg: var(--lit1);
  --box-bg-out: var(--black);
}

.dark {
  --bg: linear-gradient(to bottom, var(--gray3), var(--gray7));
  --bg-nav: linear-gradient(to right, var(--gray3), var(--gray6));
  --bg-dropdown: var(--gray2);
  --text: var(--gray0);
  --border-color: linear-gradient(
    to bottom,
    var(--special),
    var(--dark),
    var(--black)
  );
  --bg-solar: var(--kali);
  --box-bg: var(--black);
  --box-bg-out: var(--kali);
}

.solar {
  --gray0: #deecea;
  --gray1: #b3d5d0;
  --gray2: #71b58f;
  --gray3: #46a26e;
  --gray4: #3a9390;
  --gray5: #5159a2;
  --gray6: #534898;
  --gray7: #2e206c;
  --dark: #2e206c;
  --special: #5159a2;

  --lit2: #fae173;
  --spec: #ffbe46;
}
main p {
  padding: 20px;
  text-align: justify;
}

#para-head {
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  /* text-align:center; */
}

@media (max-width: 500px) {
  .navbar {
    height: 60px;
    width: 100%;
  }

  .dropdown {
    width: 250px;
    height: 1.8rem;
    transform: translateX(-40%);
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  header {
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 50px;
    padding-bottom: 3.5em;
    text-align: center;
    /* clip-path:polygon(50% 4%, 57% 7%,60% 16%, 54% 57%, 48% 56%, 41% 45%,40% 23%, 43% 7%); */
    clip-path: polygon(
      50% 0%,
      80% 6%,
      98% 1%,
      97% 64%,
      50% 100%,
      3% 64%,
      2% 1%,
      20% 6%
    );
    font-size: 12px;
  }

  #para-head {
    text-align: center;
  }
}
